.details {
    color: lightseagreen;
    border-color: BlueViolet;
    background-color: whitesmoke;
}

.details:hover {
    color: lightseagreen;
}

.authDetail {
    width: 50%;
    margin-left: 30%;
}