.item-card {
    /* margin-bottom: 10px; */
    height: 80%;
    border-color: lightseagreen;
    color: SlateBlue;
    text-align: center;
}

.item-card img {
    height: 180px;
}

.details {
    color: SlateBlue;
    border-color: lightseagreen;
}

.imgCards {
    width: 15px;
    margin: 10%;
}

.addBtn {
    width: 20%;
    display: flex;
    margin: 20%;
}