.item-card {
    /* margin-bottom: 10px; */
    height: 90%;
    border-color: lightseagreen;
    color: SlateBlue;
    text-align: center;
}

.item-card img {
    height: 150px;
}

.details {
    color: SlateBlue;
    border-color: lightseagreen;
}

.imgCards {
    width: 15px;
    margin-right: 25px;
}

.addBtn {
    width: 20%;
    display: flex;
    margin: 20%;
}


.imgCardContainer{
    font-size: 10px;
}

.mapMain{
    padding: 0;
    margin-top: 50px;
    display: block;
    margin-left: 0;
    margin-right: 60%;
    text-align: center;
}

.searchMap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    color: lightseagreen;;
}