.details {
    color: lightseagreen;
    border-color: BlueViolet;
    background-color: whitesmoke;
}

.details:hover {
    color: lightseagreen;
}

.authProfile {
    width: 25%;
}

.imgCardContainerUser{
    display: flex;
    align-content: space-between;
    text-align: center;
    align-items: center;
    margin: 20%;
    padding: 10px;
    margin-top: 0;
    margin-left: 35%;
}

.item-card{
    margin:0;
    padding:0;

}