@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.details {
    color: lightseagreen;
    font-family: 'Quicksand', sans-serif;
    background-color: lightseagreen;
}

.imgLogo {
    width: 5%;
}