.avatarUser {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.details {
    color: lightseagreen;
    border-color: BlueViolet;
    background-color: whitesmoke;
}

.details:hover {
    color: lightseagreen;
}

.authProfile {
    width: 25%;
}


h4 {
    text-align: center;
} 

h2 {
    text-align: center;
}

.profileBtn {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

