.homePage {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
}

.registerBtns {
    color: lightseagreen;
    border-color: BlueViolet;}

.imgPag {
    width: 100%;
}

.authIndex {
    width: 50%;
    margin-left: 25%;
}

.details {
    color: lightseagreen;
    border-color: BlueViolet;
    background-color: whitesmoke;
}