.homePage {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.registerBtns {
    color: lightseagreen;
    border-color: BlueViolet;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.imgPag {
    width: 100%;
    text-align: center;
}

