.homePage {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.registerBtns {
    color: lightseagreen;
    border-color: BlueViolet;
    text-align: center;
    width: 30%;
    margin-bottom: 20%;
    margin-left: 37%;
}
     

.imgPag {
    width: 700px;
    text-align: center;
}


.details {
    color: lightseagreen;
    border-color: BlueViolet;
    background-color: whitesmoke;
}

.bt {
    width: 150px;
    margin-left: 25%;
}